.Works {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-direction: column;
    margin: 0px 120px;
}

.works-heading {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

.works-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 100%;
}

@media screen and (max-width: 1250px) {
    .Works {
        margin: 0px 80px;
    }

    .works-heading {
        font-size: 40px;
    }
}

@media screen and (max-width: 978px) {
    .works-container {
        gap: 80px;
    }

    .Works {
        margin: 40px;
        gap: 30px;
    }

    .works-heading {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px){
    .Works {
        margin: 80px 15px 0px;
    }

}