@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
  --PrimaryColor: #D1B48C;
  --WhiteColor: #ffffff;
  --TagColor: #F3F4F6;
}

* {
  font-family: 'alata', 'roboto';
}

.main-btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.main-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

