.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.footer-links div {
    transition: color 0.3s ease;
}

.footer-links div:hover {
    color: var(--PrimaryColor); 
}

.footer-copyright {
    color: #9095A1;
}

.footer-copyright {
    text-align: center;
    padding: 0px 10px;
    box-sizing: border-box;
}